# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iws
*.iml
*.ipr

# Project specific
*.json
!requirements.txt
config_local.py
*.log

# Секреты и переменные окружения
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db